<footer style="margin: 25px 0px 5px 0px; color: #70757a; font-size: 14px; text-align: center; line-height: 1.6; padding: 0px 10px;">
    <p> <strong>DevcInfo:</strong> <span> is a web browser tool to vizualize device's information.</span> </p>
    <p> <strong>Privacy Policy:</strong> <span>No information is collected.</span> </p>
    <p>&copy; 2020 - devcinfo.com</p>
</footer>