<head>
  <title> DevcInfo </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Cache-Control" content="public,max-age=1800,max-stale,stale-while-revalidate=86400,stale-if-error=259200" rem="max-age=30minutes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="Alguma coisa">
  <meta name="Keywords" content="Alguma coisa">
  <!-- <link rel="search" type="application/opensearchdescription+xml" title="Busca do Dicionaberto" href="../../opensearch.xml"> -->
  <meta name="theme-color" content="#337ab7">
  <meta name="robots" content="index, follow">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Alguma coisa">
  <meta property="og:description" content="Alguma coisa">
  <meta property="og:url" content="Alguma coisa">
  <!-- <meta property="og:image" content="https://dicionaberto.com/public/icones/logoico.png"> -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Dicionaberto">
  <meta name="twitter:title" content="Alguma coisa">
  <meta name="twitter:description" content="Alguma coisa">
  <!-- <meta name="twitter:image:src" content="https://dicionaberto.com/public/icones/logoico.png"> -->
  <meta name="twitter:domain" content="https://dicionaberto.com">
  <!-- <link rel="shortcut icon" href="../../public/icones/logoico.png"/>
  <link rel="icon" href="../../public/icones/logoico.png"/>
  <link rel="apple-touch-icon" href="../../public/icones/logoico.png">
  <link rel="apple-touch-startup-image" href="../../public/icones/logoico.png"> -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-navbutton-color" content="#337ab7">
  <link rel="canonical" href="Alguma coisa"/>
  <!-- <link rel="manifest" href="../../public/manifest.webmanifest"> -->
  <!-- <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff" href="../../public/fonts/9Slide03SOFIAPROSOFTLIGHT.woff"> -->
  <link rel="stylesheet" href="../../public/css/style.css">
  <link as="style" rel="preload" href="../../public/css/style.css">
  <!-- <script src="../../public/js/install-sw.js"></script>  -->
</head>