body{
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px
}
*{
    margin: 0;
    padding: 0;
}
header{
    height: 60px;
    width: 100%;
    background-color: #337ab7;
}
main{
  padding: 0px 10px 0px 10px;
}
ul li{
  list-style-type: none;
}
div.scrollMenu{
  margin-top: 30px;
  white-space: nowrap;
  overflow-x:scroll;
  overflow-y:hidden;
  -webkit-overflow-scrolling:touch;
  scrollbar-width: none; /* Hide scrollbar Only on Firefox 64+ */
}
div.scrollMenu::-webkit-scrollbar{
  display: none;
}
.deviceRes{
  font-size: 18px;
  font-weight: bolder;
  word-break: break-word;
}
div.scrollMenu a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border: 2px solid #000000;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
    font-family: monospace;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  margin-top: 20px;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
ul li {
  margin: 0 0 5px 0;
}
div.scrollMenu a.active {
    background-color: #337ab7;
} 
.panel {
  display: none;
  background-color: white;
  overflow: hidden;
  margin-left: 10px;
  border-left-color: #337ab7;
  border-left-style: groove;
  border-left-width: 2px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
i {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  width: 5px;
  height: 5px;
  cursor: pointer;
}
/* .active, .accordion:hover {
  background-color: #ccc; 
} */