<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <% include ../partials/nav %>

   <main>
        <section id="Browser" class="tabcontent">
            <h3>Browser</h3>
            <p>Browser Content</p>
        </section>
   </main>
      
</body>   
  <% include ../partials/scripts %> 
  <script>
    document.addEventListener("DOMContentLoaded", () =>{
      Browser.init();
    });

    let Browser = {
        init: function() {},
    };
  </script>
</html>