<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <% include ../partials/nav %>

   <main>
      <div class="scrollMenu">
          <a href="#hardware" class="tablinks" onclick="openTab(event, 'Hardware')" id="defaultOpen"> Device </a>
          <a href="#network"  class="tablinks" onclick="openTab(event, 'Network')">  Network </a>
          <a href="#location" class="tablinks" onclick="openTab(event, 'Location')"> Location </a>
          <a href="#browser"  class="tablinks" onclick="openTab(event, 'Browser')">  Browser </a>
     </div>
    
    <section id="Hardware" class="tabcontent">
      <ul>
        <li>
          <p>Device Type: <span class="deviceRes" id="dvctype"> </span></p>
        </li>

        <li>
          <p>RAM: <span class="deviceRes" id="ram"> </span></p>
        </li>
        <li>
          <p>SO: <span class="deviceRes" id="SO"> </span></p>
        </li>

        <li>
          <p>Screen Size: <span class="deviceRes" id="screenSize"> </span> </p>
        </li>

        <li>
          <span>CPU: </span>
          <i class="arrow down accordion"></i>
          <ul class="panel activated" style="display: block">
            <li>Number of cores: <span class="deviceRes" id="coreNum"> </span></li>
          </ul>
        </li>

        <li>
          <span>Batery (live):</s>
          <i class="arrow down accordion"></i>
          <ul class="panel">
            <li>Level: <span class="deviceRes" id="bateryLevel">Detecting... </span></li>
            <li>Charging: <span class="deviceRes" id="bateryStatus">Detecting... </span></li>
          </ul>
        </li>

        <li>
          <span>Graphic card name: </span>
          <i class="arrow down accordion"></i>
          <ul class="panel" style="display: block">
            <li>Vendor: <span class="deviceRes" id="vendor"> </span></li>
            <li>Renderer: <span class="deviceRes" id="renderer"> </span></li>
          </ul>
        </li>
        
      </ul>
    </section>
    
    <section id="Network" class="tabcontent">
      <h3>Network</h3>
      <p>Network content.</p> 
    </section>
    
    <section id="Location" class="tabcontent">
      <h3>Location</h3>
      <p>Location Content</p>
    </section>

    <section id="Browser" class="tabcontent">
      <h3>Browser</h3>
      <p>Browser Content</p>
    </section>
    
   </main>
      
</body>   
    <script src="../../public/js/script.js"> </script>     
</html>