<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <% include ../partials/nav %>

   <main>
      <div class="scrollMenu">
          <a href="#hardware" class="tablinks" onclick="openTab(event, 'Hardware')" id="defaultOpen"> Hardware </a>
          <a href="#network"  class="tablinks" onclick="openTab(event, 'Network')">  Network </a>
          <a href="#location" class="tablinks" onclick="openTab(event, 'Location')"> Location </a>
          <a href="#browser"  class="tablinks" onclick="openTab(event, 'Browser')">  Browser </a>
     </div>
    <!-- <p id="test"> </p> -->
    <div id="Hardware" class="tabcontent">
      <ul>
        <li>
          <p>Device Type: <span class="deviceRes" id="dvctype"> </span></p>
        </li>

        <li>
          <p>RAM: <span class="deviceRes" id="ram"> </span></p>
        </li>
        <li>
          <p>SO: <span class="deviceRes" id="SO"> </span></p>
        </li>
        <li>
          <p>Device/Model: <span class="deviceRes"> </span></p>
        </li>

        <li>
          <p>CPU: <span class="deviceRes"> </span></p>
        </li>

        <li>
          <p>Batery:</p>
          <ul>
            <li>Level: <span class="deviceRes" id="bateryLevel"> </span></li>
            <li>Charging: <span class="deviceRes" id="bateryStatus"> </span></li>
          </ul>
        </li>

        <li>
          <p>Screen Size: <span> </span> </p>
        </li>

        <li>
          <p>Graphic card name: <span> </span> </p>
        </li>
        
      </ul>
    </div>
    
    <div id="Network" class="tabcontent">
      <h3>Network</h3>
      <p>Network content.</p> 
    </div>
    
    <div id="Location" class="tabcontent">
      <h3>Location</h3>
      <p>Location Content</p>
    </div>

    <div id="Browser" class="tabcontent">
      <h3>Browser</h3>
      <p>Browser Content</p>
    </div>
   </main>
      
</body>   
    <script src="../../public/js/script.js"> </script>     
</html>