<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <% include ../partials/nav %>

   <main>
      <section id="Network" class="network">

          <ul class="list">
      
            <li class="list__item"> 
              <p class="title"> Public IP address: <span class="deviceRes"> <%= ipv4 %> </span> </p> 
            </li>
            
            <li class="list__item"> 
              <p class="title">Connection type: <span class="deviceRes" id="connectionType"> </span> </p>  
            </li>

            <li class="list__item"> 
              <p class="title"> Network status: <i class="arrow arrow--down"> </i> </p> 
              
              <ul class="panel">
                <li class="list__item"> 
                  <p class="title"> Internet Access: <span class="deviceRes" id="intAcc">  </span> </p> 
                </li>

                <li class="list__item"> 
                  <p class="title"> downlink: <span class="deviceRes" id="downlink">  </span> </p> 
                </li>

                <li class="list__item"> 
                  <p class="title"> rtt: <span class="deviceRes" id="rtt">  </span> </p> 
                </li>

                <li class="list__item"> 
                  <p class="title"> downlinkMax: <span class="deviceRes" id="downlinkMax">  </span> </p>
                </li>

                <li class="list__item"> 
                  <p class="title"> effectiveType: <span class="deviceRes" id="effectiveType">  </span> </p> 
                </li>

                <li class="list__item"> 
                  <p class="title"> saveData: <span class="deviceRes" id="saveData">  </span></p> 
                </li>

              </ul>
            </li>
            
          </ul>
        
      </section>
   </main>
   <% include ../partials/footer %>
</body>   
  <% include ../partials/scripts %> 
  <script>
    document.addEventListener("DOMContentLoaded", () =>{
      Network.init();
    });

    let Network = {
      init: function() {
        this.connectionType();
      },
      connectionType: function() {
        let e = navigator.connection || navigator.mozConnection || navigator.webkitConnection
          , n = document.getElementById("connectionType")
          , t = document.getElementById("downlink")
          , o = document.getElementById("rtt")
          , i = document.getElementById("downlinkMax")
          , r = document.getElementById("effectiveType")
          , a = document.getElementById("saveData")
          , l = document.getElementById("intAcc");
        function s() {
            console.log("Connection changed to " + e.downlink + "Mb/s"),
            n.innerHTML = e.type ? e.type : "unknown",
            t.innerHTML = e.downlink + "Mb/s",
            o.innerHTML = e.rtt + "ms",
            i.innerHTML = e.downlinkMax + "Mb/s",
            r.innerHTML = e.effectiveType,
            a.innerHTML = e.saveData
        }
        function d(e) {
            console.log(e),
            "offline" == e.type && (l.innerHTML = "offline",
            console.log("You lost connection.")),
            "online" == e.type && (l.innerHTML = "online",
            console.log("You are now back online."))
        }
        navigator.onLine ? l.innerHTML = "online" : l.innerHTML = "offline",
        e.addEventListener("change", s),
        window.addEventListener("online", d),
        window.addEventListener("offline", d),
        s()
      }
    };
  </script>
</html>